# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [2]:
import pandas as pd
import numpy as np

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [3]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

persons = pd.DataFrame(data)

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [4]:
persons.Age

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [55]:
persons["Salary"] = [50000, 60000, 45000]

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [56]:
persons[persons.Age > 18]

    Name  Age         City  Salary  Birth year  Average age
1  Emily   28  Los Angeles   60000        1996         22.0
2   Ryan   22      Chicago   45000        2002         22.0

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [11]:
from datetime import datetime
current_year = datetime.now().year

persons["Birth year"] = current_year - persons.Age

### Task 4.2

Add new calculated field `Average age`.

In [53]:
persons["Average age"] = persons["Age"].mean()

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [15]:
(persons["Age"] - persons["Average age"]).abs()

0    6.0
1    6.0
2    0.0
dtype: float64

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [17]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [21]:
df_merge = pd.merge(df1, df2, on="Name", how="outer")

    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0  Los Angeles
2   Ryan  22.0      Chicago
3   Mike   NaN      Houston

In [24]:
df_concat = pd.concat([df1, df2], axis=0)

    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
0  Emily   NaN  Los Angeles
1   Ryan   NaN      Chicago
2   Mike   NaN      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [26]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [29]:
add = s1 + s2

In [33]:
multiply = s1 * s2

In [35]:
divide = s1 / s2

In [37]:
degree = s1 ** s2

0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [38]:
int_div = s1 // s2

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [39]:
remainder = s1 % s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [40]:
only_even_s1 = s1[s1 % 2 == 0]
only_odd_s1 = s1[s1 % 2 == 1]

1    2
3    4
dtype: int64

In [42]:
only_even_s2 = s2[s2 % 2 == 0]
only_odd_s2 = s2[s2 % 2 == 1]

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [45]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [46]:
s.str.upper()

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [49]:
s.str.len()

0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [58]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: total: 5.05 s
Wall time: 5.05 s

[42.0, 38.8, 45.6, 47.8, 53.4, 54.2, 58.2, 55.4, 58.2, 58.2]

### Solution using Pandas and Numpy

In [57]:
import pandas as pd
import random

def moving_average_pandas():
    data = [random.randint(1, 100) for _ in range(10000000)]
    
    df = pd.Series(data)
    moving_averages = df.rolling(window=5).mean().dropna()
    
    return moving_averages.head(10)

%time moving_average_pandas()

CPU times: total: 4.48 s
Wall time: 4.48 s

4     43.4
5     43.4
6     59.2
7     63.4
8     67.6
9     50.8
10    60.0
11    41.4
12    26.8
13    27.0
dtype: float64